body{
    font-family: 'figtree', sans-serif;
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);

}
.container {
    max-width: 70%;
    margin-left: 280px;
    padding: 20px;
 
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Styles for the form */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
   
}

.form-control {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styles for alerts */
.alert {
    margin-top: 20px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Styles for the table */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    color: black;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f0f0f0;
}

/* Styles for buttons */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Additional styling for the page */
h2 {
    color: #333;
    margin-bottom: 10px;
}

/* Add more specific styling as needed */
